.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.theme-1 {
  --sidebar-background: #141115;
  --sidebar-text: #E0E0E0;
  --sidebar-icon: #5e6270;
  --sidebar-item-hover: #2c262e;
  --sidebar-group-name: #8f8f8f;
}

